.blogs {
  margin: 1rem 2rem;

  .blog-container {
    width: 60%;

    .card {
      background-color: $other-black;
      padding: $base-padding;
      box-shadow: $base-box-shadow;
      border: $base-border-width solid $tertiary-color;
      border-radius: $border-radius-sm;
      color: white;
      gap: 1rem;
      align-items: flex-start;
      justify-content: space-between;
      height: 100%;

      .blog {
        gap: 1rem;
        width: 80%;
        align-items: flex-start;
        justify-content: flex-start;


        h3 {
          font-size: $font-size-lrg;
          
        }
      }
  
      .likes {
        align-items: center;
        justify-content: center;
        width: 15%;
        height: 100%;

        p {
          font-size: 2rem;;
        }

        button {
          background-color: transparent;
          font-size: 2rem;
        }

        .up {
          color: orangered;
        }

        .down {
          color: #535bf2;
        }
      }

      .details {
        width: 100%;
        position: relative;

        p {
          font-size: $base-font-size;
          margin-block: $base-margin;
        }

        a {
          color: white;

          &:hover {
            color: $secondary-color;
          }
        }

        .user {
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: 0.8rem;
        }
      }
      .card-buttons {
        width: 100%;
        justify-content: flex-end;
        gap: 0.5rem;

        button {
          @include button-standard;
        }

        .delete {
          background-color: $close-delete;
          color: white;
        }
      }
    }
  }
}
