@use "sass:math";

.message-container {
  height: 50px;

  .error {
    padding: $base-padding;
    text-align: center;
    p {
      color: $error-color;
    }
  }
  
  .success {
    padding: $base-padding;
    text-align: center;
  
    p {
      color: $success-color;
    }
  }
  
}

